{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">


      <h1>{{ title }}</h1>

      <form>
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="name" class="form-control" id="name" placeholder="name..">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="description" class="form-control" id="description" placeholder="description..">
        </div>
        <div class="form-group">
          <label for="Tags">Tags</label>
          <input type="tags" class="form-control" id="tags" placeholder="tags..">
        </div>
        <button type="submit" class="btn btn-default submit" id='assignment-submit'>Submit</button>
        <button type="submit" class="btn btn-default update-button edit" >Update</button>
        <button  class="btn btn-default edit" id='assignment-submit'>Cancel</button>
      </form>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody id="all">
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
